{
  "extends": "tidal/esnext",
  "env": {
    "browser": true
  },
  "rules": {
    "valid-jsdoc": [
      "error",
      {
        "requireParamDescription": false,
        "requireReturnDescription": false,
        "requireReturnType": false,
        "requireReturn": false
      }
    ]
  }
}
