name: Publish to NPM

on:
  workflow_dispatch:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/cache@v4
        env:
          cache-name: build
        with:
          path: ./pkg
          key: ${{ runner.os }}-build-${{ hashFiles('package.json') }}
      - uses: actions/setup-node@v1
        with:
          node-version: 24
      - uses: denoland/setup-deno@v1
        with:
          deno-version: v2.4.3
      - run: npm install
      - run: make build
  publish:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/cache@v4
        with:
          path: ./pkg
          key: ${{ runner.os }}-build-${{ hashFiles('package.json') }}
      - uses: actions/setup-node@v5
        with:
          node-version: 24
      - run: ls -la
      - run: npm publish --provenance --ignore-scripts --access public
